:root {
    --font-size-small: 9pt;
    --font-size-base: 11pt;
    --font-size-medium: 13pt;
    --font-size-large: 18pt;

    --font-weight-base: 400;
    --font-weight-small: 400;
    --font-weight-heading-small: 400;
    --font-weight-heading-base: 400;

    --font-weight-table-base: 400;
    --font-weight-table-heading: 400;

    --line-height-small: 15pt;
    --line-height-base: 18pt;
    --line-height-medium: 21pt;
    --line-height-large: 30pt;

    --page-margin: 25mm;
    --logo-offset-block: 10mm;
    --logo-offset-inline: 0;
    --logo-height: 50pt;
}

html, body {
    font-family: var(--font-family-base);
}


header .logo {
    left: var(--logo-offset-inline);
    top: var(--logo-offset-block);
}

header .logo img {
    height: var(--logo-height);
}

@media print {
    @page {
        size: A4;
        margin: 25mm;
    }

    @page :first {
        @top-left {
            content: element(firstPageHeader);
            vertical-align: top;
        }

        @top-left-corner {
            content: element(empty); /* reset hack for element */
        }
    }
}
