header .logo {
    left: auto;
}

header .logo img {
    height: 60pt;
    width: 60pt;
}

@media print {
    @page :first {
        @top-left-corner {
            content: '';
            content: element(empty); /* reset hack for element */
        }

        @top-right {
            content: element(firstPageHeader);
        }
    }
}
