/* Element: Button */
.button {
    background-color: var(--button-background-base);
    border-radius: var(--radius-base);
    color: var(--button-text-color);
    display: inline-block;
    height: var(--space-lg);
    padding: var(--space-sm) var(--space-md);
    text-decoration: none;
    transition: all var(--duration-base);
}

.button + .button {
    margin-left: var(--space-xxs);
}

.button:active,
.button:focus,
.button:hover {
    background-color: var(--button-background-active);
    color: var(--button-text-color-active);
    outline: none;
}

.button a:active {
    background-color: transparent;
}
