

/* Basic elements */
html {
    background-color: var(--background-color-base);
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height) + var(--space-lg));
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-base);
    color: var(--text-color-base);
    line-height: var(--line-height-base);
    margin: 0;
}

p, figure, table, ul, ol, dl, pre, blockquote {
    margin: 0;
}

:where(p, figure, table, ul, ol, dl, pre, blockquote):not(:last-child) {
    margin-bottom: calc(var(--line-height-base) * 1rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    margin: 0;
    line-height: var(--line-height-heading);
    color: var(--text-color-heading);
}

:where(h1, h2, h3, h4, h5, h6):not(:last-child) {
    margin-bottom: calc(var(--line-height-base) * .5em);
}

h1, .heading-size-1 {
    font-size: var(--heading-1-size);
}

h2, .heading-size-2 {
    font-size: var(--heading-2-size);
}

h3, .heading-size-3 {
    font-size: var(--heading-3-size);
}

h4, .heading-size-4 {
    font-size: var(--heading-4-size);
}

h5, .heading-size-5 {
    font-size: var(--heading-5-size);
}

h6, .heading-size-6 {
    font-size: var(--heading-6-size);
}

a {
    color: currentColor;
}

a:hover,
a:focus {
    text-decoration: none;
}

figure img,
figure svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

:where(img, svg):not(:last-child) {
    margin-bottom: calc(var(--line-height-base) * 1rem);
}

ul, ol {
    padding-left: var(--space-md);
}

figure.left {
    float: left;
    margin: 0 var(--space-md) var(--space-md) 0;
}

figure.center {
    text-align: center;
}

figure.right {
    float: right;
    margin: 0 0 var(--space-md) var(--space-md);
}

iframe {
    border: 0;
    width: 1px;
    min-width: 100%;
}

iframe.openapi,
iframe.asyncapi,
iframe.message {
    min-width: calc(100% + (var(--space-lg) * 2));
    margin-left: calc(var(--space-lg) * -1);
    margin-right: calc(var(--space-lg) * -1);
}

blockquote {
    padding-right: var(--space-md);
    padding-left: calc(var(--space-md));
    position: relative;
}

blockquote::before {
    background: var(--background-color-base);
    border-radius: var(--space-xss);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: var(--space-xs);
}

pre {
    background-color: var(--background-color-base);
    border-radius: var(--radius-base);
    padding: var(--space-md);
}

table tr * {
    text-align: left;
    padding: var(--space-xs) var(--space-sm);
    border-bottom: var(--line-base) solid var(--background-color-base);
}

table tr *:first-child{
    padding-left: 0;
}

table tr *:last-child {
    padding-right: 0;
}


input:not([type="checkbox"], [type="radio"]),
textarea,
select {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

fieldset {
    border-color: var(--color-grey-100);
    padding: var(--space-sm) var(--space-md);
}

legend {
    font-size: var(--heading-4-size);
    font-weight: 600;
    padding-inline: var(--space-xs);
}

dt {
    font-weight: 600;
}

dd {
    margin-left: 0;
    border-bottom: var(--line-base) dashed var(--color-grey-100);
}

dd + dt {
    margin-top: var(--space-sm);
}

details {
    padding-left: var(--space-md);
}

summary {
    cursor: pointer;
    list-style: none;
    margin-left: calc(var(--space-md) * -1);
    padding-left: var(--space-md);
    margin-bottom: var(--space-xss);
    position: relative;
}

summary::before {
    border-color: var(--text-color-base);
    border-width: var(--line-base) var(--line-base) 0 0;
    transform: rotate(135deg);
    transform-origin: 60% 40%;
    border-style: solid;
    content: "";
    display: block;
    height: var(--space-xs);
    width: var(--space-xs);
    position: absolute;
    left: .25rem;
    top: .75rem;
    transition: transform var(--duration-base);
}

details:not([open]) > summary:first-of-type::before {
    transform: rotate(45deg);
}


/* Layout: Header */
body > header {
    background-color: var(--header-background-color);
    box-shadow: var(--drop-shadow-base);
    color: var(--header-text-color);
    /*max-height: var(--header-height);*/
    position: sticky;
    top: 0;
    z-index: var(--z-header);
}

header .bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm) var(--space-md);
    justify-content: space-between;
    min-height: var(--header-height);
    padding-block: var(--space-md);
}

header .bar .logo {
    display: none;
}

header .bar .logo a {
    text-decoration: none !important;
    background-color: unset !important;
    color: unset !important;
}

header .bar .logo img {
    vertical-align: middle;
}

header .bar h1 {
    color: currentColor;
    font-size: var(--header-title-size);
    flex: 1;
    margin-bottom: 0;
}

header .nav {
    display: flex;
}

header .nav a {
    transition: all var(--duration-base);
    border-radius: var(--radius-base);
    display: block;
    height: var(--space-lg);
    margin-left: var(--space-xss);
    padding: var(--space-sm);
    text-decoration: none;
}

header .nav .icon {
    vertical-align: middle;
}

header .nav .icon + .label {
    margin-left: var(--space-xs);
}

header .nav svg {
    fill: currentColor;
}

header a:active,
header a:focus,
header a:hover {
    background-color: var(--color-white-a10);
    outline: none;
}

header a:active {
    background-color: transparent;
}

header a[aria-expanded="true"] {
    background-color: var(--color-white);
    color: var(--header-background-color);
}

.menu-toggle-branches {
    white-space: nowrap;
}

.menu-toggle-branches .label {
    margin: 0 var(--space-xs);
}

.menu-toggle-branches::after {
    content: "";
    display: inline-block;
    border-color: currentColor;
    border-width: 0 0 var(--line-thin) var(--line-thin);
    border-style: solid;
    height: var(--space-xs);
    margin: 0 var(--space-xss);
    width: var(--space-xs);
    position: relative;
    top: calc(var(--space-xss) / -2);
    transform: rotate(-45deg);
}

header .nav .menu-toggle-pages {
    margin-left: var(--space-md);
}

header .menu-toggle-pages span {
    display: block;
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    text-indent: 100%;
    border: var(--line-thin) solid currentColor;
    border-width: 2px 0;
    margin: var(--space-xss);
    position: relative;
}

header .menu-toggle-pages span::before {
    content: "";
    background-color: currentColor;
    height: var(--line-thin);
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
}

header .container {
    margin: 0 auto;
    max-width: var(--grid-max-width);
    padding: 0 var(--space-md);
    position: relative;
}

header nav {
    background-color: var(--menu-background-color);
    border-radius: var(--radius-base);
    box-shadow: var(--drop-shadow-level2);
    color: var(--menu-text-color);
    position: absolute;
    top: 100%;
    margin-top: calc(var(--space-md) * -3/2);
    right: var(--space-md);
    display: block;
}

header nav > ul {
    padding-left: 0;
}

header nav > ul > li {
    list-style: none;
}

header nav li span {
    font-style: italic;
}

@media (min-width: 40rem) {
    header .container {
        padding-inline: var(--space-lg);
    }

    header .bar {
        gap: var(--space-sm) var(--space-lg);
    }

    header nav {
        right: var(--space-lg);
    }
}

/* Layout: Nav */
nav a {
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}


/* Layout: Main */
main {
    padding: var(--space-md);
    margin: 0 auto;
    max-width: var(--grid-max-width);
}

@media (min-width: 40rem) {
    main {
        padding: var(--space-lg);
    }
}

@media (min-width: 60rem) {
    main {
        display: grid;
        column-gap: var(--grid-column-gap);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "article article aside"
        "article article .";
    }
}


/* Layout: Aside */
main > aside {
    background-color: var(--aside-background-color);
    border-radius: var(--radius-base);
    box-shadow: var(--drop-shadow-base);
    color: var(--aside-text-color);
    margin-bottom: var(--space-md);
}

main > aside h2 {
    color: currentColor;
}

@media (min-width: 60rem) {
    main > aside {
        grid-area: aside;
        margin-bottom: 0;
        max-height: calc(100vh - var(--header-height) - var(--space-lg) - var(--space-lg));
        order: 2;
        overflow: auto;
        position: sticky;
        top: calc(var(--header-height) + var(--space-lg));
    }
}

main > aside > div {
    padding: var(--space-md) var(--space-lg);
}

main > aside > .header {
    border-top: var(--line-base) solid var(--color-white-a90);
    padding-bottom: 0;
    margin-top: var(--space-md);
}

main > aside > .header:first-child {
    border-top: none;
    margin-top: 0;
}

main > aside h2 {
    font-size: var(--heading-5-size);
    text-transform: uppercase;
}

main > aside a {
    text-decoration: none;
}

main > aside .active {
    font-weight: 600;
}

main > aside .active li {
    font-weight: 400;
}

main > aside a:hover,
main > aside a:focus {
    text-decoration: underline;
}

main > aside .table-of-contents > * {
    padding-left: 0;
}


/* Layout: Article */
main > article {
    color: var(--article-text-color);
    grid-area: article;
    min-width: 0; /* Fix: Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1418727 */
    order: 1;
}

article div.info,
article div.success,
article div.warning,
article div.error {
    padding: var(--space-md);
    margin-bottom: calc(var(--line-height-base) * 1rem);
}

article div.info {
    background-color: var(--color-info-100);
    color: var(--color-info);
}

article div.success {
    background-color: var(--color-success-100);
    color: var(--color-success);
}

article div.warning {
    background-color: var(--color-warning-100);
    color: var(--color-warning);
}

article div.error {
    background-color: var(--color-error-100);
    color: var(--color-error);
}


/* Module: Headless container */
.headless-container {
    background-color: var(--color-white);
    border-radius: var(--radius-base);
    box-shadow: var(--drop-shadow-base);
    padding: var(--space-lg);
}

/* Module: Header container */
article > .header-container {
    background-color: var(--color-white);
    border-radius: var(--radius-base);
    box-shadow: var(--drop-shadow-base);
    padding: var(--space-lg);
}

.header-container:not(:last-child) {
    margin-bottom: var(--space-md);
}

.header-container > * {
    margin: 0 calc(var(--space-lg) * -1);
    padding: 0 var(--space-lg);
}

.header-container .header * {
    margin-bottom: calc(var(--line-height-base) * .5em);
}

* > .header-anchor {
    visibility: hidden;
    text-decoration: none;
    opacity: .5;
    font-size: calc(100% / var(--line-height-base));
}

* > .header-anchor:hover,
* > .header-anchor:focus{
    opacity: 1;
}

*:hover > .header-anchor {
    visibility: visible;
}


/* Module: Header container - level 2 */
.header-container.h2:not(:first-child) {
    margin-top: var(--space-md);
}

.header-container.h2:not(:last-child) {
    margin-bottom: var(--space-md);
}


.header-container.h2 > .header {
    border-bottom: var(--line-base) solid var(--color-black-a10);
    margin-bottom: var(--space-md);
    padding-bottom: var(--space-sm);
}

.header-container.h2 > .header * {
    margin-bottom: 0;
}

/* Module: Header container - level 3 */
.header-container.h3 h3 {
    position: relative;
}

.header-container.h3 h3:hover {
    cursor: pointer;
}

.header-container.h3 h3:after {
    border-color: var(--text-color-base);
    border-width: var(--line-base) var(--line-base) 0 0;
    transform: rotate(135deg);
    transform-origin: 60% 40%;
    border-style: solid;
    content: "";
    display: block;
    height: var(--space-xs);
    width: var(--space-xs);
    position: absolute;
    right: .25rem;
    top: .75rem;
    transition: transform var(--duration-base);
}

.header-container.h3.active h3:after {
    transform: rotate(45deg);
}

.header-container.h3.active > .container {
    display: block;
}

.header-container.h3 > .container {
    display: none;
}

/* Element: Button */
.button {
    background-color: var(--button-background-base);
    border-radius: var(--radius-base);
    color: var(--button-text-color);
    display: inline-block;
    height: var(--space-lg);
    padding: var(--space-sm) var(--space-md);
    text-decoration: none;
    transition: all var(--duration-base);
}

.button + .button {
    margin-left: var(--space-xss);
}

.button:active,
.button:focus,
.button:hover {
    background-color: var(--button-background-active);
    color: var(--button-text-color-active);
    outline: none;
}

.button a:active {
    background-color: transparent;
}

/* Module: Main menu */
#menu {
    padding: var(--space-md);
}

/* Module: Git branch menu */
#git-branch-menu {
    padding: var(--space-md);
    /* position: absolute;
    margin-right: calc(var(--space-lg) + var(--space-lg) + var(--space-md) + var(--space-xss)); */
}

/* Module: BPMN */
.bpmn {
    height: 0;
    padding-top: 75%;
    position: relative;
}

.bpmn > .bjs-container {
    position: absolute !important;
    top: 0;
    cursor: move;
}

[data-fullscreen="false"] .bpmn > .bjs-container {
    pointer-events: none;
}

.figure-zoom {
    border-radius: var(--radius-base);
    box-shadow: var(--drop-shadow-base);
    display: none;
    flex-direction: column;
}

.figure-zoom [data-figure-zoom] {
    background-color: var(--color-black-a10);
    border: none;
    font-size: var(--heading-2-size);
    text-align: center;
    width: var(--space-lg);
    height: var(--space-lg);
    line-height: 1;
    padding: var(--space-sm);
    transition: background-color var(--duration-base), color var(--duration-base);
}

.figure-zoom [data-figure-zoom]:first-child {
    border-radius: var(--radius-base) var(--radius-base) 0 0;
}

.figure-zoom [data-figure-zoom]:last-child {
    border-radius: 0 0 var(--radius-base) var(--radius-base);
}

.figure-zoom [data-figure-zoom]:hover,
.figure-zoom [data-figure-zoom]:focus {
    background-color: var(--color-black-a20);
}

[data-fullscreen="true"] .bpmn + footer .figure-zoom {
    display: flex;
}

.bjs-powered-by {
    display: none;
}


/* Module: Zoom */
[data-fullscreen] {
    position: relative;
    overflow: hidden;
    margin-left: calc(var(--space-lg) * -1);
    margin-right: calc(var(--space-lg) * -1);
    padding: 0 var(--space-lg);
}

[data-fullscreen] [data-toggle="fullscreen"] {
    --icon-padding: calc(var(--space-sm) + var(--space-xss));

    background-color: var(--color-black-a10);
    box-shadow: var(--drop-shadow-base);
    color: currentColor;
    border: 0;
    border-radius: var(--radius-base);
    display: block;
    height: var(--space-lg);
    outline: none;
    padding: var(--space-sm);
    position: relative;
    text-decoration: none;
    transition: background-color var(--duration-base), color var(--duration-base);
    transform: translateX(calc(var(--space-lg) * 3));
    width: var(--space-lg);
}

[data-fullscreen] [data-toggle="fullscreen"]:active,
[data-fullscreen] [data-toggle="fullscreen"]:focus,
[data-fullscreen]:hover [data-toggle="fullscreen"] {
    transform: none;
}

[data-fullscreen] [data-toggle="fullscreen"]:hover,
[data-fullscreen] [data-toggle="fullscreen"]:focus {
    background-color: var(--color-black-a20);
}

[data-fullscreen] [data-toggle="fullscreen"]:active {
    background-color: transparent;
}

[data-fullscreen] [data-toggle="fullscreen"] .label {
    display: none;
}

[data-fullscreen] [data-toggle="fullscreen"]::before,
[data-fullscreen] [data-toggle="fullscreen"]::after {
    border-style: solid;
    border-color: currentColor;
    content: "";
    display: block;
    height: var(--space-xs);
    width: var(--space-xs);
    position: absolute;
}

[data-fullscreen] [data-toggle="fullscreen"]::before {
    border-width: 0 0 var(--line-thin) var(--line-thin);
    bottom: var(--icon-padding);
    left: var(--icon-padding);
}

[data-fullscreen] [data-toggle="fullscreen"]::after {
    border-width: var(--line-thin) var(--line-thin) 0 0;
    right: var(--icon-padding);
    top: var(--icon-padding);
}

[data-fullscreen] header,
[data-fullscreen] footer {
    position: absolute;
    right: calc(var(--space-lg) + var(--space-md));
    top: var(--space-md);
    z-index: var(--z-fullscreen-button);
}

[data-fullscreen] footer {
    bottom: var(--space-md);
    top: auto;
}

[data-fullscreen="true"] {
    background-color: #fff;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    scroll-behavior: smooth;
    top: 0;
    width: 100%;
    z-index: var(--z-fullscreen);
}

[data-fullscreen="true"] header,
[data-fullscreen="true"] footer {
    position: fixed;
    right: var(--space-md);
}

[data-fullscreen="true"] button {
    --icon-padding: calc(var(--space-sm));
    transform: none;
}

[data-fullscreen="true"] button::before,
[data-fullscreen="true"] button::after {
    transform: rotate(180deg);
}

[data-fullscreen="true"] figure {
    float: none;
    margin: var(--space-md);
    padding: 0;
    text-align: center;
}

[data-fullscreen] figure svg {
    height: auto !important; /* TODO: Maak PlantUML specifiek */
}

[data-fullscreen="true"] svg {
    max-width: none;
}

[data-fullscreen="true"] iframe.openapi,
[data-fullscreen="true"] iframe.asyncapi {
    min-width: 100%;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
}

[data-fullscreen="true"] .bpmn > .bjs-container {
    height: 100vh !important;
}

[data-fullscreen="true"] .bpmn + footer [data-toggle="fullscreen"] {
    display: none;
}

/* Tabs */
.tabs-container:not(:last-child) {
    margin-bottom: var(--space-md);
}

.tabs-list-container {
    border-bottom: var(--line-base) solid var(--background-color-base);
    margin-right: calc(var(--space-lg) * -1);
    margin-left: calc(var(--space-lg) * -1);
    padding-right: var(--space-lg);
    padding-left: var(--space-lg);
}

.tabs-scroll-container {
    color: var(--text-color-heading);
}

.tabs-list-container ul {
    background-color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--space-xs) var(--space-sm);
    list-style: none;
    padding-left: 0;
}

.tabs-list-container ul li a {
    border-bottom: var(--line-thin) solid var(--background-color-base);
    display: block;
    padding:  var(--space-xs) var(--space-sm);
    text-decoration: none;
    height: 100%;
}

.tabs-list-container ul li a:hover,
.tabs-list-container ul li a:focus {
    background-color: var(--background-color-base);
    border-bottom-color: transparent;
    border-radius: var(--radius-base) var(--radius-base) 0 0 ;
}

.tabs-list-container ul li a[aria-expanded="true"] {
    background-color: var(--color-white);
    border-bottom-color: currentColor;
    font-weight: 600;
}

.tabs-panels-container > div {
    padding-top: var(--space-sm);
}
