:root {
  /* Brand colors */
  --color-brand-a80: rgba(var(--rgb-brand), .8);
  --color-brand-a40: rgba(var(--rgb-brand), .4);
  --color-brand-a20: rgba(var(--rgb-brand), .2);

  /* Colors */
  --color-white-r: 255;
  --color-white-g: 255;
  --color-white-b: 255;
  --color-white: rgb(var(--color-white-r), var(--color-white-g), var(--color-white-b));
  --color-white-a10: rgba(var(--color-white-r), var(--color-white-g), var(--color-white-b), .1);
  --color-white-a20: rgba(var(--color-white-r), var(--color-white-g), var(--color-white-b), .2);
  --color-white-a50: rgba(var(--color-white-r), var(--color-white-g), var(--color-white-b), .5);
  --color-white-a90: rgba(var(--color-white-r), var(--color-white-g), var(--color-white-b), .9);

  --color-black-r: 0;
  --color-black-g: 0;
  --color-black-b: 0;
  --color-black: rgb(var(--color-black-r), var(--color-black-g), var(--color-black-b));
  --color-black-a10: rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), .1);
  --color-black-a20: rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), .2);
  --color-black-a30: rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), .3);
  --color-black-a40: rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), .4);
  --color-black-a80: rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), .8);
  --color-black-a90: rgba(var(--color-black-r), var(--color-black-g), var(--color-black-b), .9);

  --color-grey-100: rgb(229, 229, 229);
  --color-grey-900: rgb(39, 40, 48);

  /* Status colors */
  --color-info: #0043A8;
  --color-info-100: #E5F0FF;

  --color-success: #00A843;
  --color-success-100: #E5FFF0;

  --color-warning: #EA7E31;
  --color-warning-100: #FFF4EB;

  --color-warning-secondary: #CDB015;
  --color-warning-secondary-100: #FDF8DD;

  --color-error: #B12626;
  --color-error-100: #FEEEEF;

  /* Status */
  --status-passed: var(--color-success);
  --status-passed-100: var(--color-success-100);

  --status-failed: var(--color-error);
  --status-failed-100: var(--color-error-100);

  --status-skipped: var(--color-info);
  --status-skipped-100: var(--color-info-100);

  --status-undefined: var(--color-warning);
  --status-undefined-100: var(--color-warning-100);

  --status-pending: var(--color-warning-secondary);
  --status-pending-100: var(--color-warning-secondary-100);

  /* Typography */
  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  --line-height-base: 1.5;
  --line-height-heading: 1;

  --type-scale: 1.3;

  --heading-6-size: .6875rem;
  --heading-5-size: calc(var(--heading-6-size) * var(--type-scale));
  --heading-4-size: calc(var(--heading-5-size) * var(--type-scale));
  --heading-3-size: calc(var(--heading-4-size) * var(--type-scale));
  --heading-2-size: calc(var(--heading-3-size) * var(--type-scale));
  --heading-1-size: calc(var(--heading-2-size) * var(--type-scale));

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.125rem;

  /* Dimensions */
  --logo-height: 3rem;
  --max-text-width: 42rem;
  --nav-width: 20rem;
  --header-height: 12rem;

  /* Button */
  --button-text-color: var(--text-color-heading, var(--color-black));
  --button-text-color-active: var(--button-text-color);
  --button-background-base: var(--color-brand-a20);
  --button-background-active: var(--color-brand-a40);

  /* Shadow */
  --drop-shadow-base: 0 .125rem 1.25rem rgba(0, 0, 0, .05);
  --drop-shadow-level2: 0 .25rem 1rem rgba(0, 0, 0, .1);

  /* Sizing */
  --space-xl: 4.5rem;
  --space-lg: 2.25rem;
  --space-md: 1.5rem;
  --space-sm: 1rem;
  --space-xs: .5rem;
  --space-xxs: .25rem;

  /* Transition */
  --duration-base: 250ms;

  /* z-indexes */
  --z-header: 900;
  --z-nav: 901;
  --z-fullscreen: 902;
  --z-fullscreen-button: 100;

  /* Lines */
  --line-base: .0625rem;
  --line-thin: .125rem;
  --line-medium: .1875rem;

  /* Radii */
  --radius-base: .75rem;
  --radius-pill: 99rem;

  /* Page */
  --page-surface: var(--color-brand-base, var(--color-black-a80));

  /* Main */
  --main-surface: var(--color-white);
  --main-margin: var(--space-sm);

  /* Content */
  --content-padding-inline: var(--space-xl);

  /* Menu */
  --menu-text-color: var(--color-white);
}
