@import "../style/reset.css";
@import "../style/style.css";
@import "../style/theme.css";

html {
    background-color: transparent;
}

body {
    margin-top: var(--space-sm);
}

.scenarios,
.steps {
    list-style: none;
    margin: 0 0 var(--space-md);
    padding-left: 0;
}

.scenarios {
    margin-bottom: 0;
}

.steps {
    margin-top: var(--space-xs);
    margin-left: var(--space-md);
}

.scenario > .item {
    padding-left: var(--space-lg);
    text-align: left;
}

.scenario > .item:hover {
    text-decoration: underline;
}

.scenario > .item::after {
    border-color: var(--text-color-base);
    border-width: var(--line-base) var(--line-base) 0 0;
    transform: rotate(135deg);
    transform-origin: 60% 40%;
    border-style: solid;
    content: "";
    display: block;
    height: var(--space-xs);
    width: var(--space-xs);
    position: absolute;
    left: .25rem;
    top: .75rem;
    transition: transform var(--duration-base);
}

.scenario > .item[aria-expanded="false"]::after {
    transform: rotate(45deg);
}

.step {
    border-radius: var(--radius-base);
    margin-bottom: var(--line-thin);
    padding-right: var(--space-sm);
}

.item {
    padding-top: var(--space-xss);
    padding-bottom: var(--space-xss);
    padding-left: calc(var(--space-xs) + var(--space-md));
    position: relative;
    display: block;
    border: none;
    background-color: transparent;
}

.item::before {
    border-radius: var(--space-sm);
    background-color: currentColor;
    content: "";
    display: block;
    height: var(--space-sm);
    width: var(--space-sm);
    position: absolute;
    left: var(--space-xs);
    top: .625rem;
}

.scenario > .item::before {
    left: var(--space-md);
}

.step.passed > .item {
    background-color: var(--color-success-100);
}

.passed > .item::before {
    color: var(--color-success);
}

.step.failed > .item {
    background-color: var(--color-error-100);
}

.failed > .item::before {
    color: var(--color-error);
}

.other > .item::before {
    color: var(--color-black-a40);
}

.keyword {
    font-family: monospace;
    font-size: var(--heading-5-size);
    color: var(--color-info);
}

/* Dashboard */
.dashboard {
    display: flex;
    grid-gap: var(--space-md);
    align-items: center;
    justify-content: flex-start;
}

.dashboard:not(:last-child) {
    margin-bottom: calc(var(--line-height-base) * 1rem);
}

.dashboard figure {
    flex: 0 1 6.5rem;
}

.dashboard .legend {
    flex: 0 1 auto;
}

/* Legend */
.legend {
    display: flex;
    gap: var(--space-md);
    list-style: none;
    margin: 0;
    padding: 0;
}

.legend li {
    flex: 1 0 auto;
}

.legend-passed {
    color: var(--color-success);
}

.legend-failed {
    color: var(--color-error);
}

.legend span {
    display: block;
    font-size: var(--font-size-sm);
}

.legend .count {
    color: var(--text-color-base);
    font-size: var(--heading-3-size);
    font-weight: 600;
    padding: var(--space-xss) 0 var(--space-xs) 0;
}

.legend .label {
    border-top: var(--line-medium) solid currentColor;
    padding-top: var(--space-xss);
}

.legend-other .label {
    border-top-color: var(--background-color-base);
}


/* Charts */
figure.chart-doughnut {
    margin: 0;
}

figure.chart-doughnut svg {
    vertical-align: middle;
}

figure.chart-doughnut figcaption {
    align-items: center;
    font-size: var(--heading-1-size);
    font-weight: 600;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.chart-doughnut .text {
    font-family: var(--font-family-heading);
    font-size: .5em;
    text-anchor: middle;
}

.chart-doughnut .circle {
    stroke: var(--background-color-base);
    fill: none;
    /*stroke-linecap: round;*/
}

.chart-doughnut .circle-passed {
    stroke: var(--color-success);
    animation: stroke-progress 1s ease-out;
}

.chart-doughnut .circle-failed {
    stroke: var(--color-error);
    animation: stroke-progress 1s ease-out;
}

@keyframes stroke-progress {
    0% {
        stroke-dasharray: 0 100;
        stroke-dashoffset: 0;
    }
}
