@import "../style/reset.css";
@import "../style/theme.css";

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height) + var(--space-lg));
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-heading);
    color: var(--text-color-base);
    line-height: var(--line-height-base);
    margin: 0;
    margin-top: 1.2rem;
}

.scenarios,
.steps {
    list-style: none;
    margin: 0 0 var(--space-md);
    padding-left: 0;
}

.scenarios {
    margin-bottom: 0;
}

.steps {
    margin-top: var(--space-xs);
    margin-left: var(--space-md);
}

.scenario > .item {
    padding-left: var(--space-lg);
}

.scenario > .item:hover {
    text-decoration: underline;
}

.scenario > .item::after {
    border-color: var(--text-color-base);
    border-width: var(--line-base) var(--line-base) 0 0;
    transform: rotate(135deg);
    transform-origin: 60% 40%;
    border-style: solid;
    content: "";
    display: block;
    height: var(--space-xs);
    width: var(--space-xs);
    position: absolute;
    left: .25rem;
    top: .75rem;
    transition: transform var(--duration-base);
}

.scenario > .item[aria-expanded="false"]::after {
    transform: rotate(45deg);
}

.step {
    border-radius: var(--radius-base);
    margin-bottom: var(--line-thin);
    padding-right: var(--space-sm);
}

.item {
    padding-top: var(--space-xss);
    padding-bottom: var(--space-xss);
    padding-left: calc(var(--space-xs) + var(--space-md));
    position: relative;
    display: block;
    border: none;
    background-color: transparent;
}

.item::before {
    border-radius: var(--space-sm);
    background-color: currentColor;
    content: "";
    display: block;
    height: var(--space-sm);
    width: var(--space-sm);
    position: absolute;
    left: var(--space-xs);
    top: .625rem;
}

.scenario > .item::before {
    left: var(--space-md);
}

.step.passed > .item {
    background-color: var(--color-success-100);
}

.passed > .item::before {
    color: var(--color-success);
}

.step.failed > .item {
    background-color: var(--color-error-100);
}

.failed > .item::before {
    color: var(--color-error);
}

.other > .item::before {
    color: var(--color-black-a40);
}

.keyword {
    font-family: monospace;
    font-size: var(--heading-5-size);
    color: var(--color-info);
}