@font-face {
    font-family: 'Graphik';
    src: url("../fonts/Graphik-Regular.eot");
    src: url("../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Randstad colors */
    --rs-color-brand-primary: rgb(33, 117, 217);
    --rs-color-brand-secondary: rgb(15, 25, 65);
    --rs-color-brand-tertiary: rgb(247, 245, 240);
    --rs-color-brand-quaternary: rgb(107, 165, 180);
    --rs-color-brand-quinary: rgb(231, 69, 54);
    --rs-color-brand-senary: rgb(255, 181, 17);

    --rs-brand-secondary-alpha-70: rgba(15, 25, 65, .7);

    /* md-docs colors */
    --color-brand-base: var(--rs-color-brand-primary);
    --color-brand-aside: var(--rs-color-brand-secondary);
    --color-brand-light: var(--rs-color-brand-tertiary);

    --text-color-base: var(--rs-color-brand-secondary);
    --text-color-heading: var(--rs-color-brand-secondary);

    /* Typography */
    --font-family-base: Graphik, Tahoma, "sans-serif";
    --font-family-heading: Graphik, Tahoma, "sans-serif";
}

