@font-face {
    font-family: 'Graphik';
    src: url("../fonts/Graphik-Regular.eot");
    src: url("../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Randstad colors */
    --rs-rgb-brand-primary: 33, 117, 217;
    --rs-rgb-brand-secondary: 15, 25, 65;
    --rs-rgb-brand-tertiary: 247, 245, 240;
    --rs-rgb-brand-quaternary: 107, 165, 180;
    --rs-rgb-brand-quinary: 231, 69, 54;
    --rs-rgb-brand-senary: 255, 181, 17;

    --rs-brand-secondary-alpha-70: rgba(15, 25, 65, .7);

    /* md-docs colors */
    --rgb-brand: var(--rs-rgb-brand-primary);
    --text-color-base: rgba(var(--rs-rgb-brand-secondary));
    --text-color-heading: rgb(var(--rs-rgb-brand-secondary));

    /* Typography */
    --font-family-base: Graphik, Tahoma, "sans-serif";
    --font-family-heading: Graphik, Tahoma, "sans-serif";
}

