:root {
    --color-brand-base: var(--color-black-a90);
    --color-brand-light: var(--color-black-a10);

    --text-color-base: var(--color-black-a90);
    --text-color-heading: var(--color-brand-base);
}
