html, body {
    -webkit-font-smoothing: antialiased;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-base);
    color: var(--text-color-base);
    line-height: var(--line-height-base);
    margin: 0;
}

/*  Box sizing (the nuclear option) */
*,
*::before,
*::after {
    box-sizing: border-box;
}


p, figure, table, ul, ol, dl, pre, blockquote {
    margin: 0;
}

:where(p, figure, table, ul, ol, dl, pre, blockquote):not(:last-child) {
    margin-bottom: calc(var(--line-height-base) * 1rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    margin: 0;
    line-height: var(--line-height-heading);
    color: var(--text-color-heading);
}

:where(h1, h2, h3, h4, h5, h6):not(:last-child) {
    margin-bottom: calc(var(--line-height-base) * .5em);
}

h1 {
    font-size: var(--heading-1-size);
}

h2 {
    font-size: var(--heading-2-size);
}

h3 {
    font-size: var(--heading-3-size);
}

h4 {
    font-size: var(--heading-4-size);
}

h5 {
    font-size: var(--heading-5-size);
}

h6 {
    font-size: var(--heading-6-size);
}

a {
    color: currentColor;
}

a:hover,
a:focus {
    text-decoration: none;
}

figure img,
figure svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

:where(img, svg):not(:last-child) {
    margin-bottom: calc(var(--line-height-base) * 1rem);
}

ul, ol {
    padding-left: var(--space-md);
}

.mail-header {
    border-bottom: var(--line-base) solid var(--color-grey-100);
    margin-bottom: calc(var(--line-height-base) * 1rem);
    padding-bottom: calc(var(--line-height-base) * 1rem);
}

.mail-header dl {
    display: grid;
    gap: calc(var(--line-height-base) / 4 * 1rem) var(--space-md);
    font-size: var(--font-size-sm);
    grid-template-columns: 15ch 1fr;
}

.mail-header dt {
    font-weight: var(--font-weight-heading-base);
    grid-column-start: 1;
}

.mail-header dt::after {
    content: ':';
}

.mail-header dd {
    grid-column-start: 2;
    margin-left: 0;
}

.mail {
    padding: var(--space-md);
    margin: 0 auto;
    max-width: var(--grid-max-width);
}

@media (min-width: 40rem) {
    .mail {
        padding: var(--space-lg);
    }
}

article {
    max-width: var(--max-characters-per-line);
    margin-block: calc(var(--line-height-base) * 1rem);
}

article header {
    display: flex;
    justify-content: flex-end;
    margin-block-end: calc(var(--line-height-base) * 1rem);
}

article header figure {
    max-width: 15rem;
}

article footer {
    margin-block-start: calc(var(--line-height-base) * 1rem);
}
