:root {
    /* Colors */
    --color-grey-100: rgb(229, 229, 229);

    /* Typography */
    --font-family-base: sans-serif;
    --font-family-heading: sans-serif;
    --line-height-base: 1.5;
    --line-height-heading: 1;

    --type-scale: 1.25;

    --heading-6-size: .6875rem;
    --heading-5-size: calc(var(--heading-6-size) * var(--type-scale));
    --heading-4-size: calc(var(--heading-5-size) * var(--type-scale));
    --heading-3-size: calc(var(--heading-4-size) * var(--type-scale));
    --heading-2-size: calc(var(--heading-3-size) * var(--type-scale));
    --heading-1-size: calc(var(--heading-2-size) * var(--type-scale));

    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-md: 1.125rem;

    --font-weight-base: 400;
    --font-weight-heading-base: 600;

    --max-characters-per-line: 75ch;

    /* Sizing */
    --space-lg: 3rem;
    --space-md: 1.5rem;
    --space-sm: .75rem;
    --space-xs: .5rem;
    --space-xxs: .25rem;

    /* Lines */
    --line-base: .0625rem;
    --line-thin: .125rem;
    --line-medium: .1875rem;
}
