.badge {
    align-items: center;
    background-color: var(--color-brand-a10);
    border-radius: var(--radius-pill);
    color: var(--badge-text-color, var(--text-color-base));
    display: inline;
    font-size: var(--font-size-xs);
    gap: var(--space-xxs);
    padding-block: calc(var(--space-xxs) / 2);
    padding-inline: var(--space-xs);
}

h1:has(> version) {
    position: relative;
}

h1:has(> version) version {
    position: absolute;
    top: 0;
    margin-left: var(--space-xs);
}