.ui {
    border-radius: var(--radius-base);
    border: var(--line-base) solid var(--background-color-base);
    padding: calc(var(--space-md) - var(--line-base));
    position: relative;
    overflow: hidden;

    box-shadow: var(--drop-shadow-level2);
}

.ui .action {
    border: var(--line-base) solid var(--background-color-base);
    padding: var(--space-md);
}

.ui .form-item {
    margin-bottom: calc(var(--line-height-base) * 1rem);
}

.ui .form-item > label {
    display: inline-block;
    margin-bottom: var(--space-xs);
}

.ui .form-check input + label {
    margin-left: var(--space-xs);
}

.ui .form-submit {
    display: flex;
    justify-content: flex-end;
}

.ui .form-submit button + button {
    margin-left: var(--space-sm);
}

.ui button {
    background-color: var(--color-black-a10);
    border: 0;
    border-radius: 10em;
    font-size: inherit;
    padding: var(--space-xs) var(--space-md);
    transition: background-color var(--duration-base);
}

.ui button:hover,
.ui button:focus-visible {
    background-color: var(--color-black-a20);
}

.ui button[type="submit"] {
    font-weight: 600;
}

.ui dl dl {
    padding-inline-start: var(--space-md);
    margin-block: var(--space-sm);
    border-left: var(--line-base) solid var(--color-grey-100);
    margin-inline-start: var(--space-sm);
}

.ui dd {
    border-bottom: none;
}

.ui dl dl dt {
    position: relative;
}

.ui dl dl dt:before {
    background-color: var(--color-grey-100);
    content: '';
    height: 1px;
    width: var(--space-sm);
    position: absolute;
    top: calc(var(--line-height-base) / 2 * 1rem);
    left: calc(var(--space-md) * -1);
}

