/* Layout: Main */
main {
    background-color: var(--main-surface);
    border-radius: var(--radius-base) var(--radius-base) 0 0;
    grid-area: main;

    min-height: 100vh;
    margin: var(--space-sm) var(--space-sm) 0 0;
}
